{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:react/recommended",
		"prettier"
	],
	"rules": {
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/indent": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"no-console": 0
	}
}
