@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 0;
}

h1, h2, h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
}

h1 {
	font-weight: 700;
}

#coursebadge h1 {
	display: inline;
}

.checked-class {
	cursor: pointer;
}

.title.is-4 {
	margin-bottom: 0;
}

.hero {
	background-color: #203b6a;
}

.hero-body .container .title {
	color: #fff;
}
.hero-body .container .subtitle {
	color: #aaa;
}

.select:not(.is-multiple):not(.is-loading)::after {
	border-color: #203b6a;
}

.half {
	flex-basis:50%;
}

.is-warning {
	background-color: #e9b51b;
}